---
import { formatBlogPost, slugify } from "../ts/utils";
const posts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPost(posts);
const allCategories = formattedPosts
    .map((cat) => cat.frontmatter.category.toLowerCase())
    .flat();

const processedCategories = allCategories.reduce((acc, category) => {
    const value = acc[category] || 0;

    return {
        ...acc,
        [category]: value + 1,
    };
}, {});

const { showCount } = Astro.props;
---

<ul class="categories">
    {
        Object.entries(processedCategories).map(([key, val]) => (
            <li>
                <a class="badge" href={`/category/${slugify(key)}/`}>
                    {key} {showCount && `(${val})`}
                </a>
            </li>
        ))
    }
</ul>
